<div class="input-control {{ wrapClass }}" [ngClass]="layout">
  <label *ngIf="label" class="form-label">{{ label }}</label>
  <ng-select
    [items]="githubUsers$ | async"
    [multiple]="true"
    bindLabel="text"
    bindValue="value"
    [placeholder]="placeholder"
    [formControl]="control"
    (change)="onSelectChange($event)"
    [virtualScroll]="true"
    (scrollToEnd)="onScrollToEnd()"
    [loading]="loading"
  >
    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
      <ng-container *ngFor="let item of items; trackBy: trackByLogin">
        <div class="ng-value">
          <span class="ng-value-label">
            <!-- <img [src]="item.avatar_url" width="20px" height="20px" /> -->
            {{ item.text }}
          </span>
          <span
            class="ng-value-icon right"
            (click)="clear(item)"
            aria-hidden="true"
            >×</span
          >
        </div>
      </ng-container>
      <div *ngIf="items.length > 2" class="ng-value">
        <span class="ng-value-label">{{ items.length - 2 }} more...</span>
      </div>
    </ng-template>
  </ng-select>

  <div class="error-message" *ngIf="control.invalid && control.touched"></div>
  <!-- Hiển thị lỗi nếu tồn tại các lỗi tương ứng -->
  <div *ngIf="control.errors?.required">Vui lòng nhập thông tin.</div>
</div>
