<div class="container">
  <p>ui-control works!</p>
  <form [formGroup]="form">
    <!-- text input -->
    <td-input
      wrapClass="mb-3"
      [type]="'text'"
      [placeholder]="'Tên'"
      formControlName="inputVal"
      [label]="'Tên'"
    ></td-input>

    <!-- text area -->
    <td-text-area
      wrapClass="mb-3"
      [placeholder]="'Ghi chú'"
      formControlName="noteVal"
      [label]="'Ghi chú'"
    >
    </td-text-area>

    <!-- single select -->
    <td-select
      wrapClass="mb-3"
      formControlName="selectVal"
      [label]="'Tình/thành'"
    ></td-select>

    <!-- checkbox -->
    <td-checkbox [label]="'Nam'" formControlName="checkVal"></td-checkbox>

    <!-- radio -->
    <br />
    <td-radio
      [label]="'Chọn đáp án'"
      formControlName="radioVal"
      [options]="[
        { label: 'Option 1', value: '1' },
        { label: 'Option 2', value: '2' },
        { label: 'Option 3', value: '3' }
      ]"
      name="example-radio-group"
    ></td-radio>
    <br />

    <button nbButton (click)="submit()">Success</button>
  </form>
</div>
