<div class="input-control {{ wrapClass }}" [ngClass]="layout">
  <label *ngIf="label" class="form-label">{{ label }}</label>

  <div class="input-group">
    <input
      [class]="inputClass"
      [placeholder]="placeholder"
      (blur)="onBlur()"
      [formControl]="control"
      name="dp"
      [displayMonths]="1"
      [navigation]="'select'"
      [outsideDays]="'visible'"
      [showWeekNumbers]="false"
      ngbDatepicker
      #d="ngbDatepicker"
    />
    <button
      class="btn btn-outline-secondary bi bi-calendar3"
      (click)="d.toggle()"
      type="button"
    ></button>
  </div>

  <div class="error-message" *ngIf="control.invalid && control.touched">
    <!-- Hiển thị lỗi nếu tồn tại các lỗi tương ứng -->
    <div *ngIf="control.errors?.required">Vui lòng chọn ngày.</div>
  </div>
</div>
