<div class="input-control {{ wrapClass }}" [ngClass]="layout">
  <label *ngIf="label" class="form-label">{{ label }}</label>
  <input
    nbInput
    fullWidth
    [type]="type"
    [class]="inputClass"
    [placeholder]="placeholder"
    (blur)="onBlur()"
    [disabled]="isDisabled"
    [formControl]="control"
  />

  <div class="error-message" *ngIf="control.invalid && control.touched">
    <!-- Hiển thị lỗi nếu tồn tại các lỗi tương ứng -->
    <div *ngIf="control.errors?.required">Vui lòng nhập thông tin.</div>
    <div *ngIf="control.errors?.minlength">
      Ít nhất là {{ control.errors?.minlength.requiredLength }} ký tự.
    </div>
    <div *ngIf="control.errors?.maxlength">
      Tối đa là {{ control.errors?.maxlength.requiredLength }} ký tự.
    </div>
    <div *ngIf="control.errors?.email">Email không hợp lệ.</div>
  </div>
</div>
