.input-control {
  display: flex;
  /* align-items: left; */
}

.input-control.vertical {
  flex-direction: column;
}

.input-control.horizontal {
  flex-direction: row;
}

.input-control label {
  margin-bottom: 0.5rem;
}

.input-control.horizontal label {
  margin-right: 1rem;
}

.input-control input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
