<!-- <div class="page-inner">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h3 class="fw-bold">
            <i class="icon-home"></i> <span class="ms-3">{{ title }}</span>
          </h3>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-md-8 mb-1"></div>
        <div class="col-md-4 mb-1">
          <div class="row">
            <div class="col-md-8 mb-1">
              <td-input
                [type]="'text'"
                [placeholder]="'Từ khóa tìm kiếm'"
              ></td-input>
            </div>
            <div class="col-md-4 mb-1">
              <div class="d-flex justify-content-end">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary rounded-0"
                >
                  Tìm kiếm
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-primary rounded-0"
                  (click)="onSearchAdvance()"
                >
                  <i class="fa fa-solid fa-filter"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="btn-group" ngbDropdown>
            <button type="button" class="btn btn-sm btn-outline-primary">
              Thêm mới
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary dropdown-toggle-split"
              ngbDropdownToggle
            ></button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>Xuất Excel</button>
              <button ngbDropdownItem>Nhập Excel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <td-ag-grid-table [columnDefs]="colDefs" [rowData]="rowData">
          </td-ag-grid-table>
        </div>
      </div>
    </div>
  </div>
</div> -->
